.App {
  text-align: center;
  background-color: linear-gradient(#f8ede3, #bdd2b6, #a2b29f, #798777);
}
body {
  background: linear-gradient(180deg, #e3d9ca, #95a792, #596c68, #403f48);
  height: 100vh;
}

.check-list li {
  float: left;
  align-items: center;
  margin: 10px;
}
.checkbox {
  padding: 10px;
  margin: 10px;
}
.checkboxT {
  margin-left: 10px;
  width: 100px;
}

.check-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.side-menu {
  position: absolute;
  right: 0px;
  color: black;
}
.accordion {
  position: absolute;
  right: 0px;
  margin-top: 20px;
  width: 40%;
}
.cuisine-img {
  height: 300px;
  width: 300px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
input[type="text"] {
  direction: rtl;
}
input[type="search"] {
  direction: rtl;
  margin-top: 10px;
  background: #ededed
    url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat
    9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 30%;

  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;

  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
input[type="search"]:focus {
  width: 50%;
  background-color: #fff;
  border-color: #66cc75;

  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
}

input:-moz-placeholder {
  color: #999;
}
input::-webkit-input-placeholder {
  color: #999;
}
